
.container{
    background-color: var(--fondo);
    padding: 20px;
}

.titulo{
    color: var(--texto-gris);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.botones {
    display: flex;
    gap: 12px;
    padding: 12px 0;
}

.botones button {
    background-color: var(--tarjeta);
    color: var(--texto);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.transaccion{
    background-color: var(--tarjeta);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 12px;
    align-items: center;
}

.monto.ingreso{
    color: var(--positivo);
}

.monto.gasto{
    color: var(--negativo);
}

.eliminar{
    background-color: var(--negativo);
    color: var(--texto);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
