.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--fondo-hover);
}

.loader-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid var(--borde);
    border-top: 5px solid var(--principal);
    border-radius: 50%;
    animation: girar 0.8s linear infinite;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}

.spinner-pequeño {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}