.formulario-cuenta {
    display: flex;
    flex-direction: column;
}

.formulario-cuenta-fila-doble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.formulario-cuenta-fila-doble>div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}