:root{
    --fondo: #0D0F14;
    --Texto: #ffffff;
    --avatar: #6c63ff;
}

.header{
    background-color: var(--fondo);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.header-saludo{
    color: var(--Texto);
    display: flex;
}

.avatar{
    background-color:var(--avatar);
    color: var(--Texto);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}