:root{
    --fondo: #1E2330;
    --texto: #FFFFFF;
    --principal: #6C63FF;
}

.tarjetas{
    background-color: var(--fondo);
    padding: 20px;
}

.tarjeta1{
    border-radius: 20px;
    color: var(--texto);
    padding: 20px;
    align-items: center;
    background: linear-gradient(135deg, #6C63FF, #4338CA);
}

.tarjeta2{
    background-color: var(--fondo);
    display: flex;
    justify-content: space-evenly;
    color: var(--texto);
}

.acciones button{
    border-radius: 20px;
    
    padding: 20px;
}